<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>In The Air</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <link href="/css/newform.css" rel="stylesheet">
    </head>
    <body >
        <!-- Load the `mapbox-gl-geocoder` plugin. -->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

        <div id="wrapper">
            <div id="map"></div>
            <div id="form">
            	<form action="/reports" method="POST" id="newform">

            		<label for="name" >Please enter your main symptom:</label>
            		<input type="text" id="name" name="newReport[name]" autofocus></input>

            		<label for="decription" >Please describe your symptoms:</label>
            		<input type="text" id="description" name="newReport[description]" required ></input>

            		<label for="geometry">Your location:</label>
            		<input type="number" id="lng" name="lng" required ></input>
            		<input type="number" id="lat" name="lat" required ></input>

            		<div class="clearfix">
            			<button style="background-color: rgb(117, 207, 240); " class="button" id="report">Report!</button>
            		</div>

            	</form>  

            </div>
        </div>

    <script src="/js/newform.js"></script>
    
    </body>
</html>