<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>In The Air</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <link href="css/style.css" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <a href="https://icons8.com/icon/85479/plus-+">Plus + icon by Icons8</a>
    </head>
    <body>


        <nav class="navbar fixed-top navbar-expand-lg navbar-black scrolling-navbar" id="nav">
        <div class="container-fluid" id="col">
        <ul class="nav navbar-nav navbar-right">
            <% if(!currUser) {%>
                <button class="button" onclick="window.location.href='/login'">Log In ✍</button>
                <button class="button" onclick="window.location.href='/register'">Sign Up</button>
            <% } else {%>
                <button class="button" onclick="window.location.href='/logout'">Logout</button>
            <% } %>
            <button class="button" onclick="window.location.href='/about'">About InTheAir</button>
            <button class="button" onclick="window.location.href='/contact'">Contact 📧</button>
                <%- include("../partials/flash") %>
            <button class="button" id="statistics" style = "transform: translateX(350%); background-color: rgb(255,174,174); visibility: hidden;" onclick="window.location.href='/reports'">Statistics</button>
            
            <script  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
            
        </ul>
        </div>
        </nav>   

        <div>

            <% if(currUser && !currUser.report.hasReport) {%>
                <button onclick="window.location.href='/reports/new'" class="new_report"><img src="https://img.icons8.com/material-outlined/96/000000/plus--v1.png"/></button>
            <% } else {%>
                <button onclick="window.location.href='/reports/edit/<%= currUser.report.curr %>'" class="new_report"><img src="https://img.icons8.com/material-rounded/24/000000/edit--v1.png"/></button>
            <% } %>

        </div>


        <!-- Load the `mapbox-gl-geocoder` plugin. -->
        
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

        <div id="map"></div>
    <script>
        const markers = {features: <%- JSON.stringify(places) %> }
    </script>
    <script src="js/loadmap.js"></script>
    
    </body>
</html>