<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>In The Air</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <link href="css/style.css" rel="stylesheet">



		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		



    </head>
    <body>

    	<nav class="navbar fixed-top navbar-expand-lg navbar-black scrolling-navbar" id="nav">
        <div class="container-fluid" id="col">
	    <ul class="nav navbar-nav navbar-right">
                <% if(!currUser) {%>
                   
                <% } else {%>
                    <button class="button" onclick="window.location.href='/logout'">Logout 👋</button>
                <% } %>
	            <button class="button" onclick="window.location.href='/about'">About InTheAir ❔</button>
	            <button class="button" onclick="window.location.href='/contact'">Contact Us</button>
                <%- include("partials/flash") %>


	    		
	            <script  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
	        
	    </ul>
        </div>
     	</nav>

     	
				<% if(!currUser) {%>
				<div id="welcome" class="container welcome" style="width:300px; padding-top: 30px;">Welcome to InTheAir! <br>
					Choose your path...

					<div class="col">
						<div class="row" style="transform: translateX(15%); ">
					 <button class="button" style="font-size: 40px" onclick="window.location.href='/login'">Log In ✍</button>
					</div>
					<div class="row" style="transform: translateX(9%);margin-top: 5%; ">
                    <button class="button" style="font-size: 40px"onclick="window.location.href='/register'">Sign Up 📝</button>
                </div>
                </div>
				</div>
				 <% } %>





        <!-- Load the `mapbox-gl-geocoder` plugin. -->
        
        
       



        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

        <div id="map" style="z-index: -2"></div>

    <script>
        const mbxToken = "<%= process.env.MAPBOX_TOKEN %>"
        const markers = {features: <%- JSON.stringify(places) %> }
    </script>

    <script src="js/loadmap.js"></script>
    </body>
</html>