<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>In The Air</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Load the `mapbox-gl-geocoder` plugin. -->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

        <div id="map"></div>
        <div id="sidebar">
            <button class="button" onclick="window.location.href='/login'">Log In ✍</button>
            <button class="button" onclick="window.location.href='/register'">Sign Up</button>
            <button class="button" onclick="window.location.href='/about'">About InTheAir</button>
            <button class="button" onclick="window.location.href='/contact'">Contact 📧</button>
        </div>

    <script src="js/loadmap.js"></script>
    </body>
</html>