body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width:50%;
}

#geocoder-container{
min-width: 50%;
margin-right: 25%;
}

#wrapper{
    overflow:auto;
}
.info{
	margin-left: -60%; 
}
.info_txt{
background: #f1f1f1;
height: 50px;
border-radius: 10px;
margin-left: -30%;
width: 100%;
}
header{
	height: 100%;
	width: 50%;
}
body{
	width:100%;
}

.rep_form{
   float:left;
}

.col{
	margin-left: 30%;
}


input[type=text], input[type=password], input[type=long] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  align: center;
}
.navbar{
	width:40%;
	margin-right:0px;
	height: 
}

.logindiv{
display: grid;
width:50%;
height:100%;
margin-left:50%;
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
left: 20%;
  right: 20%;
  top: 10%;
  width: 50%;
  height: 50%; 
  padding-top: 50px;
  background-color: #fefefe;
  margin: 5% auto 20% auto;
  padding-bottom: 50px;
}
.logindiv_new{
	display: grid;
width:50%;
height:100%;
margin-left:50%;
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
transform: translateY(-125%);
}
.logindiv label {
    font-family:'Nunito', sans-serif;
}
.logindiv_new label {
    font-family:'Nunito', sans-serif;
}
.newform {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.button {
    background-color: white;
    border-radius: 8px;
    border: none;
    color:black;
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold;
    outline:none;
  }

  .button:hover {
    background-color: lightgray;
    outline:none;
  }
.header{
	margin-left:50%;
    margin-top:5%;
    text-align:center;
    font-family: "Nunito", sans-serif;
    font-size:30px;
    height: 700px;
}
.message{
	margin-left: 60%;
	margin-right:10%;
	margin-top: -45%;
	width: 25%;
	padding: 15px;
	background: #f1f1f1;
	height: 10%;
	font-family: "Nunito", sans-serif;
	color: grey;
	text-align: center;

}
