body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width:50%; height: 100%; position-align: right;}

html, body {
    margin:0px;
    height:100%;
  }

#wrapper{
    overflow:auto;
}

<<<<<<< HEAD
.rep_form{
   float:left;
}

=======
#form{
    float:right;
}
>>>>>>> 51ab2b43e174529075bfef993c4d2664b636a296
