<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>


<body style="background-color: rgb(117, 207, 240);">
	<div class="header">
		<p>Contact Us</p>
	</div>
	
	<div class="container aboutdiv">
	
		<p>Feel free to contact us through this message box!</p>
		<input type="text" id="comment" class="comment"></input>
		
	</div>


</body>
<footer>
</footer>
</html>