<!DOCTYPE html>
<html lang="en">
<head>	
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>





<body style="background-color: rgb(117, 207, 240);">

	<nav class="navbar fixed-top navbar-expand-lg navbar-black scrolling-navbar" id="nav">
    <div class="container-fluid" id="col">
    <ul class="nav navbar-nav navbar-right">
    		<button class="button" onclick="window.location.href='/'">Home</button>
            <button class="button" onclick="window.location.href='/about'">About InTheAir</button>
            <button class="button" onclick="window.location.href='/contact'">Contact 📧</button>
    </ul>      
    </div>
 	</nav>




	<div class="header">
		<p>Login</p>
	</div>
	
	<div class="container logindiv">
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<form action="/login" method="POST" id="loginform">

		<label for="username" >Username:</label>
		<input type="text" id="username" name=username autofocus required></input>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required ></input>


		<div class="clearfix">
			<button style="background-color: rgb(117, 207, 240);" type = "submit" class="button">Log In</button>
			<button style="background-color: rgb(117, 207, 240);" class="button" onclick="/register">No Account? Sign Up!</button>

		</div>
	</form>
		<!-- check for password correctness -->
		
	
</div>
<script src="/js/formValidator.js"></script> 

</body>
<footer>

</footer>
</html>